body{margin:0;padding:0;}
h1{font-family:'PT Sans'; font-size:6em; text-align:center; letter-spacing:1em; 
   color:#79e; padding:0.5em 0 0.5em 0.78em; margin:0;}
h2{font-family:'PT Sans'; text-align:center; letter-spacing:0.5em; padding:1em;
   background:#79e; color:#334;}